.content {
    display: flex;
    gap: 50px;
}
.icon_link {
    cursor: pointer;
}
.icon_link a {
    text-decoration: none;
}
.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.item img {
    max-width: 270px;
    max-height: 270px;
    border-radius: 50px;
    box-shadow: 0 0 10px 5px #4b4a4a;
}
.item div {
    font-size: 30px;
    font-weight: 500;
    color: #6a7c81;
    text-shadow: 0 0 3px 2px gray;
}